.App {
    text-align: center;
    padding: 15px;
}

.App h1 {
    font-size: 3em;
    color: #3d5afe;
    text-decoration: double;
}

@media (max-width: 768px) {
    .App h1 {
        font-size: 2em; 
    }
}