.node-title {
  margin-bottom: 15px;
  font-size: 20px;
}

/* Estilos para los botones */
.button-container {
  display: flow-root;
  margin-bottom: 20px;
  justify-content: space-around;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}

.button-create {
  background-color: #007bff;
  color: white;
}

.button-delete {
  background-color: #dc4c64;
  color: white;
}

.button:hover {
  background-color: #e8eaf6;
  color: black;
}

a {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
  color: black;
}

a:hover {
  background-color: #e4a11b;
  color: white;
}

/* Estilos para hacerlos responsivos */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column; 
    align-items: center; 
  }

  .button {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .button-create,
  .button-delete {
    width: 45%;
  }
}
