body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #1e5799, #2989d8, #7db9e8);
    background-size: 200% 200%;
}

body {
    animation: gradient-animation 10s infinite alternate;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

